<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hirehub?createDatabaseIfNotExist=true&amp;serverTimezone=GMT-3</property>		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.aluno.Aluno"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.contato.Contato"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.curso.Curso"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.empresa.Empresa"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.endereco.Endereco"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.foto.Foto"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.instituicao.Instituicao"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.proposta.Proposta"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.professor.Professor"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.turma.Turma"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.usuario.Usuario"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.vaga.Vaga"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.dossie.Dossie"/>
		<mapping class="br.senac.talentforge.hirehub.modelo.entidade.apontamento.Apontamento"/>
	</session-factory>
</hibernate-configuration>
