@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

.container {
	display: flex;
	justify-content: space-between;
	background-color: white;
	width: 70%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.left-section {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-section img {
	max-width: 100%;
}

.right-section {
	width: 55%;
}

.right-section h1 {
	font-size: 36px;
	color: #4a90e2;
	margin-bottom: 10px;
}

.right-section p {
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

input, select {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
}

input[type="checkbox"] {
	margin-right: 10px;
}

.form-group {
	display: flex;
	justify-content: space-between;
}

.form-group select, .form-group input {
	width: 48%;
}

.form-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-actions button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.form-actions button.cancel {
	background-color: white;
	border: 1px solid black;
}

.form-actions button.next {
	background-color: #4a90e2;
	color: white;
}

.form-footer {
	margin-top: 10px;
	text-align: center;
}

.form-footer a {
	color: black;
	text-decoration: none;
}