@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-optical-sizing: auto;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.imagem {
	display: flex;
	flex-grow: 0;
}

.imagem img {
	width: 600px;
}

.formulario {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 50%;
}

form {
	justify-content: center;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 60px;
	color: #7A6FDE;
	text-align: center;
}

.topo p {
	color: #ccc;
	text-align: center;
}

input, select, textarea {
	padding: 7px;
	margin-top: 12px;
	border: 1px solid #390879;
	border-radius: 8px;
	font-size: 14px;
	background-color: white;
}

input:focus, select:focus, textarea:focus {
	border-color: #FCAE11;
	outline: none;
}

.input-group {
	display: flex;
	gap: 10px;
	flex-wrap: nowrap;
	flex: 50%;
}

textarea {resize: none;}
input:disabled {background-color: lightgray;}
.input-group input, select {flex: 50%;}

.form-acoes {
	display: flex;
	justify-content: space-between;
}

button {
	padding: 10px 20px;
	width: 175px;
	height: 50px;
	background-color: #390879;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-size: 24px;
	cursor: pointer;
	margin-bottom: 10px;
}

button:hover {
	background-color: #FCAE11;
	color: #390879;
}