@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-optical-sizing: auto;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	height: 100vh;
}

.imagem img {
	display: flex;
	margin-right: 10vh;
}

.formulario {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 10vh;
}

form .tab {
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 450px;
}

h1 {
	font-size: 60px;
	color: #7A6FDE;
	text-align: center;
}

.topo p {
	color: #757575;
	text-align: center;
}

input:not([type="checkbox"]),
select,
textarea {
	padding: 7px;
	margin-top: 12px;
	border: 1px solid #E0E0E0;
	border-radius: 8px;
	font-size: 14px;
	background-color: white;
}

input:focus,
select:focus,
textarea:focus {
	border-color: #FCAE11;
	outline: none;
}

.grupo-input {
	display: flex;
	gap: 10px;
	flex-wrap: nowrap;
	flex: 50%;
}

textarea {
	resize: none;
}

input:disabled {
	background-color: lightgray;
}

.grupo-input input,
select {
	flex: 50%;
}

.termos {
	justify-content: center;
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	user-select: none;
}

.termos span {
	color: #757575;
}

/* Região da caixa de termos */
/* Esconde o original (to tendo q anotar) */
.termos input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Cria o customizado */
.caixa-customizada {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	border: #B0A1A1 solid 1px;
	border-radius: 8px;
}

/* Quando passa o mouse, adiciona um fundo cinza */
.termos:hover input~.caixa-customizada {
	background-color: #ccc;
}

/* Adiciona um fundo laranja quando assinado */
.termos input:checked~.caixa-customizada {
	background-color: #FCAE11;
}

/* Cria o indicador */
.caixa-customizada:after {
	content: "";
	position: absolute;
	display: none;
}

/* Mostra o confere se marcado */
.termos input:checked~.caixa-customizada:after {
	display: block;
}

/* Estiliza ele */
.termos .caixa-customizada:after {
	left: 8px;
	top: 4px;
	width: 4px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Acabou a região */

a {
	color: #FCAE11;
	text-decoration: none;
}

.acoes-form {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
}

button {
	padding: 10px 20px;
	background-color: #390879;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-size: 24px;
	cursor: pointer;
	margin-bottom: 10px;
}

button:hover {
	background-color: #FCAE11;
	color: #390879;
}

button.voltar {
	padding: 10px 20px;
	background-color: rgb(0, 0, 0, 0);
	color: black;
	border: #ccc solid 1px;
	border-radius: 5px;
	font-size: 24px;
	cursor: pointer;
	margin-bottom: 10px;
}

button.voltar:hover {
	color: #FCAE11;
	border: #FCAE11 solid 1px;
}