body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

.container {
	background-color: white;
	width: 50%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	text-align: center;
}

h1 {
	font-size: 36px;
	color: #4a90e2;
	margin-bottom: 10px;
}

p {
	margin-bottom: 20px;
}

.option {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	padding: 15px;
	border-radius: 5px;
	border: 2px solid #ccc;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 18px;
}

.option img {
	margin-right: 10px;
}

.option:hover {
	border-color: #4a90e2;
}

.form-actions {
	display: flex;
	justify-content: space-between;
}

.form-actions button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.form-actions button.back {
	background-color: white;
	border: 1px solid black;
}

.form-actions button.next {
	background-color: #4a90e2;
	color: white;
}

.form-footer {
	margin-top: 10px;
	text-align: center;
}

.form-footer a {
	color: black;
	text-decoration: none;
}