body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.navbar {
	background-color: #4A90E2;
	padding: 10px;
	color: white;
	display: flex;
	align-items: center;
}

.navbar .menu-icon {
	font-size: 24px;
	cursor: pointer;
	margin-right: 10px;
}

.navbar .nome {
	flex-grow: 1;
	font-size: 20px;
}

.navbar .perfil {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ccc;
}

.titulo{
	color: #4A90E2;
	text-align: center;
	font-size: 1cm;
}

.label-container {
	color: #64748B;
	margin-right: 80px;
	display: inline-block;
	margin-left: 20px;
}

.info-container {
	margin-right: 80px;
	display: inline-block;
	margin-left: 35px;
}

.button {
	display: inline-block;
	width: 48%;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
}
