* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
}

.imagem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imagem img {
    width: 100%;
    max-width: 700px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width:600px;
}

.login h1 {
    font-size: 62px;
    color: #7b4bc9;
    margin-bottom: 40px;
}

.login form {

}

.login input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login a {
    color: #f0a500;
    display: flex;
    padding: 0;
    text-decoration: none;
    font-size: 14px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.botoes button[type="button"] {
    background: #fff;
    border: 1px solid #7b4bc9;
    color: #7b4bc9;
    padding: 15px 50px;
    border-radius: 4px;
    font-size: 16px;
}

.botoes button[type="submit"] {
    background: #7b4bc9;
    color: #fff;
    border: none;
    padding: 15px 50px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.botoes button:hover {
    background: #FCAE11;
    color: #fff;
}

.cadastra-se {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cadastra-se p {
    display: flex;
    align-items: center;
}

.cadastra-se a {
    color: #f0a500;
    font-weight: bold;
    margin-left: 7px;
}